In [1]:
%pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 3.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=e3a414254128cea0dc0b91efdad9124c6468f29d1a1960959b0d576ab62987b2
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [2]:
import os
import sys
import pyspark

os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

In [3]:
#grant permission (for gdrive use only)
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [4]:
cd gdrive/MyDrive/

/content/gdrive/MyDrive

In [5]:
#load housing dataset from csv file
from pyspark.sql import SparkSession

ss = SparkSession.builder.appName('housing_data').getOrCreate()
df_without_header = ss.read.option('inferSchema', True).option('header', False).csv('housing_data.csv')
df_without_header = df_without_header.na.drop()
df_without_header.show()

+--------------------+------+-------------------+--------+---+---+---+--------------------+----------------+--------------------+------------------+------------------+--------------------+--------------+----+----+
|                 _c0|   _c1|                _c2|     _c3|_c4|_c5|_c6|                 _c7|             _c8|                 _c9|              _c10|              _c11|                _c12|          _c13|_c14|_c15|
+--------------------+------+-------------------+--------+---+---+---+--------------------+----------------+--------------------+------------------+------------------+--------------------+--------------+----+----+
|{E104A9E7-1D6A-4D...| 36500|1995-06-09 00:00:00| FY4 1DL|  F|  N|  L|      CLARENCE COURT|              28|    RAWCLIFFE STREET|         BLACKPOOL|         BLACKPOOL|           BLACKPOOL|     BLACKPOOL|   A|   A|
|{748F870E-C337-40...| 74000|1995-01-12 00:00:00| RH2 9NF|  F|  Y|  L|SOMERS PLACE, 83 ...|         FLAT 21|        REIGATE HILL|           REIGATE|           REIGATE|REIGATE AND BANSTEAD|        SURREY|   A|   A|
|{A684561B-E2E7-4D...| 13000|1995-04-07 00:00:00| CT9 1XR|  F|  N|  L|     ARLINGTON HOUSE|         FLAT 7A|   ALL SAINTS AVENUE|           MARGATE|           MARGATE|              THANET|          KENT|   A|   A|
|{3DAA73FB-713D-44...| 29950|1995-03-31 00:00:00| BH1 4BD|  F|  N|  L| BROOKLYN COURT, 476|          FLAT 1|   CHRISTCHURCH ROAD|       BOURNEMOUTH|       BOURNEMOUTH|         BOURNEMOUTH|   BOURNEMOUTH|   A|   A|
|{BA12EE6C-B9E2-43...| 26500|1995-12-11 00:00:00|BS23 3DT|  F|  N|  L|  ASHCOMBE COURT, 43|          FLAT 8|       ASHCOMBE ROAD| WESTON-SUPER-MARE| WESTON-SUPER-MARE|          WOODSPRING|          AVON|   A|   A|
|{E3E7A54C-E2B1-4F...| 52000|1995-07-03 00:00:00| SE8 5AN|  F|  Y|  L|       CHESTER COURT|              22|      TRUNDLEYS ROAD|            LONDON|            LONDON|            LEWISHAM|GREATER LONDON|   A|   A|
|{568DE11A-432B-4D...|121250|1995-05-19 00:00:00| N12 8LR|  F|  N|  L|     CAVENDISH HOUSE|         FLAT 20|WOODSIDE GRANGE ROAD|            LONDON|            LONDON|              BARNET|GREATER LONDON|   A|   A|
|{60CF8CE4-7269-4F...|110995|1995-11-09 00:00:00| SW8 2PH|  F|  Y|  L|                  10|              41|        PRIORY GROVE|            LONDON|            LONDON|             LAMBETH|GREATER LONDON|   A|   A|
|{C03038E8-1504-42...| 34000|1995-08-18 00:00:00| FY5 4HW|  F|  N|  L|       KINGSTON MEWS|          FLAT 8|       CRABTREE ROAD|THORNTON-CLEVELEYS|THORNTON-CLEVELEYS|                WYRE|    LANCASHIRE|   A|   A|
|{2D95D765-C921-46...| 39000|1995-05-19 00:00:00|BN16 2TJ|  F|  N|  L|      RICHMOND COURT|          FLAT 5|            SEA LANE|        RUSTINGTON|     LITTLEHAMPTON|                ARUN|   WEST SUSSEX|   A|   A|
|{00067C19-4FD9-49...| 27000|1995-04-20 00:00:00|HU17 0DX|  F|  N|  L|                  13|          FLAT 4|      RAILWAY STREET|          BEVERLEY|          BEVERLEY|THE EAST YORKSHIR...|    HUMBERSIDE|   A|   A|
|{E76CCDAE-3A80-43...| 35200|1995-06-09 00:00:00| SG7 5LW|  F|  N|  L|        THE MALTINGS|         FLAT 11|          GREEN LANE|           ASHWELL|           BALDOCK| NORTH HERTFORDSHIRE| HERTFORDSHIRE|   A|   A|
|{70CFEE2A-64F1-4F...| 31000|1995-05-12 00:00:00| LU6 3HP|  F|  N|  L|       VICEROY COURT|              56|   HIGH STREET SOUTH|         DUNSTABLE|         DUNSTABLE|  SOUTH BEDFORDSHIRE|  BEDFORDSHIRE|   A|   A|
|{5F8F69D0-70CA-45...| 88000|1995-11-15 00:00:00|TN14 7JP|  T|  N|  F|   ASH TREE COTTAGES|               3|     OLD LONDON ROAD|         KNOCKHOLT|         SEVENOAKS|           SEVENOAKS|          KENT|   A|   A|
|{7150138D-622A-49...|143000|1995-06-30 00:00:00| W14 8QW|  F|  N|  L|     PALACE MANSIONS|         FLAT 39|       EARSBY STREET|            LONDON|            LONDON|HAMMERSMITH AND F...|GREATER LONDON|   A|   A|
|{C675A9E1-4766-4C...| 65000|1995-02-21 00:00:00|  E8 4JJ|  S|  N|  F|      BENFLEET COURT|              18|   QUEENSBRIDGE ROAD|            LONDON|            LONDON|             HACKNEY|GREATER LONDON|   A|   A|
|{1E48750F-1E05-47...| 87500|1995-01-20 00:00:00| W14 9JS|  F|  Y|  L|                  24|FIRST FLOOR FLAT|        VEREKER ROAD|            LONDON|            LONDON|HAMMERSMITH AND F...|GREATER LONDON|   A|   A|
|{CE2D5684-8448-4C...| 15000|1995-07-05 00:00:00| BH1 4HF|  F|  N|  L|              8 - 10|          FLAT 5|      AYLESBURY ROAD|       BOURNEMOUTH|       BOURNEMOUTH|         BOURNEMOUTH|   BOURNEMOUTH|   A|   A|
|{C0C3B7A1-04FE-47...|157000|1995-12-15 00:00:00| TW9 1UN|  F|  N|  L|                  11|          FLAT 1|          SHEEN PARK|          RICHMOND|          RICHMOND|RICHMOND UPON THAMES|GREATER LONDON|   A|   A|
|{F6EE4111-A464-45...|100500|1995-09-25 00:00:00|TW11 9HX|  F|  N|  L| THE OLD VICARAGE, 2|          FLAT 2|       KINGSTON ROAD|        TEDDINGTON|        TEDDINGTON|RICHMOND UPON THAMES|GREATER LONDON|   A|   A|
+--------------------+------+-------------------+--------+---+---+---+--------------------+----------------+--------------------+------------------+------------------+--------------------+--------------+----+----+
only showing top 20 rows

In [6]:
#add column names from kaggle dataset page
col_names=['Transaction_unique_identifier', 'price', 'Date_of_Transfer', 'postcode', 'Property_Type', 'Old/New',
'Duration', 'PAON', 'SAON', 'Street', 'Locality', 'Town/City', 'District', 'County', 'PPDCategory_Type',
'Record_Status - monthly_file_only']
housing_df = df_without_header.toDF(*col_names)

# use first 500000 entries due to limitations in compute power
housing_df = ss.createDataFrame(housing_df.head(200000), housing_df.schema)

housing_df.show()
print(housing_df.count())

+-----------------------------+------+-------------------+--------+-------------+-------+--------+--------------------+----------------+--------------------+------------------+------------------+--------------------+--------------+----------------+---------------------------------+
|Transaction_unique_identifier| price|   Date_of_Transfer|postcode|Property_Type|Old/New|Duration|                PAON|            SAON|              Street|          Locality|         Town/City|            District|        County|PPDCategory_Type|Record_Status - monthly_file_only|
+-----------------------------+------+-------------------+--------+-------------+-------+--------+--------------------+----------------+--------------------+------------------+------------------+--------------------+--------------+----------------+---------------------------------+
|         {E104A9E7-1D6A-4D...| 36500|1995-06-09 00:00:00| FY4 1DL|            F|      N|       L|      CLARENCE COURT|              28|    RAWCLIFFE STREET|         BLACKPOOL|         BLACKPOOL|           BLACKPOOL|     BLACKPOOL|               A|                                A|
|         {748F870E-C337-40...| 74000|1995-01-12 00:00:00| RH2 9NF|            F|      Y|       L|SOMERS PLACE, 83 ...|         FLAT 21|        REIGATE HILL|           REIGATE|           REIGATE|REIGATE AND BANSTEAD|        SURREY|               A|                                A|
|         {A684561B-E2E7-4D...| 13000|1995-04-07 00:00:00| CT9 1XR|            F|      N|       L|     ARLINGTON HOUSE|         FLAT 7A|   ALL SAINTS AVENUE|           MARGATE|           MARGATE|              THANET|          KENT|               A|                                A|
|         {3DAA73FB-713D-44...| 29950|1995-03-31 00:00:00| BH1 4BD|            F|      N|       L| BROOKLYN COURT, 476|          FLAT 1|   CHRISTCHURCH ROAD|       BOURNEMOUTH|       BOURNEMOUTH|         BOURNEMOUTH|   BOURNEMOUTH|               A|                                A|
|         {BA12EE6C-B9E2-43...| 26500|1995-12-11 00:00:00|BS23 3DT|            F|      N|       L|  ASHCOMBE COURT, 43|          FLAT 8|       ASHCOMBE ROAD| WESTON-SUPER-MARE| WESTON-SUPER-MARE|          WOODSPRING|          AVON|               A|                                A|
|         {E3E7A54C-E2B1-4F...| 52000|1995-07-03 00:00:00| SE8 5AN|            F|      Y|       L|       CHESTER COURT|              22|      TRUNDLEYS ROAD|            LONDON|            LONDON|            LEWISHAM|GREATER LONDON|               A|                                A|
|         {568DE11A-432B-4D...|121250|1995-05-19 00:00:00| N12 8LR|            F|      N|       L|     CAVENDISH HOUSE|         FLAT 20|WOODSIDE GRANGE ROAD|            LONDON|            LONDON|              BARNET|GREATER LONDON|               A|                                A|
|         {60CF8CE4-7269-4F...|110995|1995-11-09 00:00:00| SW8 2PH|            F|      Y|       L|                  10|              41|        PRIORY GROVE|            LONDON|            LONDON|             LAMBETH|GREATER LONDON|               A|                                A|
|         {C03038E8-1504-42...| 34000|1995-08-18 00:00:00| FY5 4HW|            F|      N|       L|       KINGSTON MEWS|          FLAT 8|       CRABTREE ROAD|THORNTON-CLEVELEYS|THORNTON-CLEVELEYS|                WYRE|    LANCASHIRE|               A|                                A|
|         {2D95D765-C921-46...| 39000|1995-05-19 00:00:00|BN16 2TJ|            F|      N|       L|      RICHMOND COURT|          FLAT 5|            SEA LANE|        RUSTINGTON|     LITTLEHAMPTON|                ARUN|   WEST SUSSEX|               A|                                A|
|         {00067C19-4FD9-49...| 27000|1995-04-20 00:00:00|HU17 0DX|            F|      N|       L|                  13|          FLAT 4|      RAILWAY STREET|          BEVERLEY|          BEVERLEY|THE EAST YORKSHIR...|    HUMBERSIDE|               A|                                A|
|         {E76CCDAE-3A80-43...| 35200|1995-06-09 00:00:00| SG7 5LW|            F|      N|       L|        THE MALTINGS|         FLAT 11|          GREEN LANE|           ASHWELL|           BALDOCK| NORTH HERTFORDSHIRE| HERTFORDSHIRE|               A|                                A|
|         {70CFEE2A-64F1-4F...| 31000|1995-05-12 00:00:00| LU6 3HP|            F|      N|       L|       VICEROY COURT|              56|   HIGH STREET SOUTH|         DUNSTABLE|         DUNSTABLE|  SOUTH BEDFORDSHIRE|  BEDFORDSHIRE|               A|                                A|
|         {5F8F69D0-70CA-45...| 88000|1995-11-15 00:00:00|TN14 7JP|            T|      N|       F|   ASH TREE COTTAGES|               3|     OLD LONDON ROAD|         KNOCKHOLT|         SEVENOAKS|           SEVENOAKS|          KENT|               A|                                A|
|         {7150138D-622A-49...|143000|1995-06-30 00:00:00| W14 8QW|            F|      N|       L|     PALACE MANSIONS|         FLAT 39|       EARSBY STREET|            LONDON|            LONDON|HAMMERSMITH AND F...|GREATER LONDON|               A|                                A|
|         {C675A9E1-4766-4C...| 65000|1995-02-21 00:00:00|  E8 4JJ|            S|      N|       F|      BENFLEET COURT|              18|   QUEENSBRIDGE ROAD|            LONDON|            LONDON|             HACKNEY|GREATER LONDON|               A|                                A|
|         {1E48750F-1E05-47...| 87500|1995-01-20 00:00:00| W14 9JS|            F|      Y|       L|                  24|FIRST FLOOR FLAT|        VEREKER ROAD|            LONDON|            LONDON|HAMMERSMITH AND F...|GREATER LONDON|               A|                                A|
|         {CE2D5684-8448-4C...| 15000|1995-07-05 00:00:00| BH1 4HF|            F|      N|       L|              8 - 10|          FLAT 5|      AYLESBURY ROAD|       BOURNEMOUTH|       BOURNEMOUTH|         BOURNEMOUTH|   BOURNEMOUTH|               A|                                A|
|         {C0C3B7A1-04FE-47...|157000|1995-12-15 00:00:00| TW9 1UN|            F|      N|       L|                  11|          FLAT 1|          SHEEN PARK|          RICHMOND|          RICHMOND|RICHMOND UPON THAMES|GREATER LONDON|               A|                                A|
|         {F6EE4111-A464-45...|100500|1995-09-25 00:00:00|TW11 9HX|            F|      N|       L| THE OLD VICARAGE, 2|          FLAT 2|       KINGSTON ROAD|        TEDDINGTON|        TEDDINGTON|RICHMOND UPON THAMES|GREATER LONDON|               A|                                A|
+-----------------------------+------+-------------------+--------+-------------+-------+--------+--------------------+----------------+--------------------+------------------+------------------+--------------------+--------------+----------------+---------------------------------+
only showing top 20 rows

200000

In [7]:
#data schema
housing_df.printSchema()

root
 |-- Transaction_unique_identifier: string (nullable = true)
 |-- price: integer (nullable = true)
 |-- Date_of_Transfer: timestamp (nullable = true)
 |-- postcode: string (nullable = true)
 |-- Property_Type: string (nullable = true)
 |-- Old/New: string (nullable = true)
 |-- Duration: string (nullable = true)
 |-- PAON: string (nullable = true)
 |-- SAON: string (nullable = true)
 |-- Street: string (nullable = true)
 |-- Locality: string (nullable = true)
 |-- Town/City: string (nullable = true)
 |-- District: string (nullable = true)
 |-- County: string (nullable = true)
 |-- PPDCategory_Type: string (nullable = true)
 |-- Record_Status - monthly_file_only: string (nullable = true)

In [8]:
#get range statistics related to data purely for report writing
import pandas as pd
from pyspark.sql import functions as F


pandas_df = housing_df.toPandas()
min_values = pandas_df.min()
max_values = pandas_df.max()

unique = []
cols = []
for col in pandas_df.columns:
  unique.append(len(pandas_df[col].unique()))
  cols.append(col)

df_stats = pd.DataFrame({'Name' : cols, 'Min' : min_values, 'Max' : max_values, 'Unique values' : unique})
df_stats

,Name,Min,Max,Unique values
Transaction_unique_identifier,Transaction_unique_identifier,{00007F1A-EDE3-4EA1-982C-064180AFAC26},{FFFF5180-5F89-4DDC-906F-E6579B00B9C9},200000
price,price,500,4500000,6525
Date_of_Transfer,Date_of_Transfer,1995-01-01 00:00:00,1997-12-31 00:00:00,1079
postcode,postcode,AL1 1BH,YO8 9QR,58025
Property_Type,Property_Type,D,T,5
Old/New,Old/New,N,Y,2
Duration,Duration,F,U,3
PAON,PAON,"(MILTON), 38","ZULEIKA HOUSE, 235",31735
SAON,SAON,(ANDREWS),YORK COTTAGE 2,4676
Street,Street,AALTEN AVENUE,ZULLA ROAD,21946
Locality,Locality,ABBERTON,YSTALYFERA,6177
Town/City,Town/City,ABBOTS LANGLEY,YORK,1065
District,District,ABERCONWY,YORK,453
County,County,AVON,YORK,128
PPDCategory_Type,PPDCategory_Type,A,B,2
Record_Status - monthly_file_only,Record_Status - monthly_file_only,A,A,1

In [9]:
#get size stats and category statistics to decide which attributes are useful in computation
from pyspark.sql.functions import col

#total entries
print("Housing data contains " + str(housing_df.count()) + " entries")

#Date_of_Transfer
transfer_count =  housing_df.select('Date_of_Transfer').distinct().count()
print("There are " + str(transfer_count) + " entries based on unique Date_of_Transfer")

Housing data contains 200000 entries
There are 1079 entries based on unique Date_of_Transfer

In [10]:
#find the number of unique features of each value
dt_cols = []

def count_cols(df_col):
    col_count = housing_df.select(df_col).distinct().count()
    print("There are " + str(col_count) + " entries based on unique " + str(df_col) + " values")
    if col_count < 2000:
      dt_cols.append(df_col)

for i in col_names:
    count_cols(i)

There are 200000 entries based on unique Transaction_unique_identifier values
There are 6525 entries based on unique price values
There are 1079 entries based on unique Date_of_Transfer values
There are 58025 entries based on unique postcode values
There are 5 entries based on unique Property_Type values
There are 2 entries based on unique Old/New values
There are 3 entries based on unique Duration values
There are 31735 entries based on unique PAON values
There are 4676 entries based on unique SAON values
There are 21946 entries based on unique Street values
There are 6177 entries based on unique Locality values
There are 1065 entries based on unique Town/City values
There are 453 entries based on unique District values
There are 128 entries based on unique County values
There are 2 entries based on unique PPDCategory_Type values
There are 1 entries based on unique Record_Status - monthly_file_only values

In [11]:
#drop Transaction_unique_identifier due to there not being enough non-unique column entries
housing_df = housing_df.drop('Transaction_unique_identifier')
housing_df = housing_df.drop('Record_Status - monthly_file_only')
#housing_df = housing_df.drop('PPDCategory_Type values')

In [12]:
#get list of string entries from schema
string_type_columns = []
for col in housing_df.dtypes:
    #print(col[0]+" , "+col[1])
    if(col[1] == 'string'):
        string_type_columns.append(col[0])
print(string_type_columns)

['postcode', 'Property_Type', 'Old/New', 'Duration', 'PAON', 'SAON', 'Street', 'Locality', 'Town/City', 'District', 'County', 'PPDCategory_Type']

In [13]:
#encode all columns with string datatype
from pyspark.ml import Pipeline
from pyspark.ml.feature import StringIndexer

"""def encode_values(column, df_initial):
    indexer = StringIndexer(inputCol= column, outputCol= column + "encoded")
    df_encoded = indexer.fit(df_initial).transform(df_initial)
    df_encoded = df_encoded.drop(column).withColumnRenamed(column + "encoded", column)
    df_encoded.show()
    return df_encoded """

indexers = [StringIndexer(inputCol=column, outputCol=column+"_index").fit(housing_df) for column in string_type_columns]
pipeline = Pipeline(stages=indexers)
df_encoded = pipeline.fit(housing_df).transform(housing_df)
df_encoded = df_encoded.drop(*string_type_columns)
df_encoded.show()

"""
encode_values('postcode')
encode_values('Property_Type')
#encode_values('Old/New')
housing_df.show()
"""

+------+-------------------+--------------+-------------------+-------------+--------------+----------+----------+------------+--------------+---------------+--------------+------------+----------------------+
| price|   Date_of_Transfer|postcode_index|Property_Type_index|Old/New_index|Duration_index|PAON_index|SAON_index|Street_index|Locality_index|Town/City_index|District_index|County_index|PPDCategory_Type_index|
+------+-------------------+--------------+-------------------+-------------+--------------+----------+----------+------------+--------------+---------------+--------------+------------+----------------------+
| 36500|1995-06-09 00:00:00|        8099.0|                0.0|          0.0|           0.0|     562.0|      92.0|      4503.0|          71.0|           98.0|         137.0|        58.0|                   0.0|
| 74000|1995-01-12 00:00:00|         722.0|                0.0|          1.0|           0.0|    1390.0|      33.0|      1403.0|          96.0|          123.0|          35.0|         2.0|                   0.0|
| 13000|1995-04-07 00:00:00|        6321.0|                0.0|          0.0|           0.0|     763.0|     297.0|      2218.0|         143.0|           93.0|          52.0|         3.0|                   0.0|
| 29950|1995-03-31 00:00:00|        1143.0|                0.0|          0.0|           0.0|    4960.0|       1.0|        18.0|           1.0|            1.0|           4.0|         7.0|                   0.0|
| 26500|1995-12-11 00:00:00|       17544.0|                0.0|          0.0|           0.0|   10852.0|       9.0|      5659.0|          23.0|           27.0|         143.0|        29.0|                   0.0|
| 52000|1995-07-03 00:00:00|        8872.0|                0.0|          1.0|           0.0|     462.0|      75.0|      2484.0|           0.0|            0.0|          37.0|         0.0|                   0.0|
|121250|1995-05-19 00:00:00|         498.0|                0.0|          0.0|           0.0|     136.0|      31.0|      1224.0|           0.0|            0.0|           8.0|         0.0|                   0.0|
|110995|1995-11-09 00:00:00|          52.0|                0.0|          1.0|           0.0|       5.0|     145.0|       677.0|           0.0|            0.0|           7.0|         0.0|                   0.0|
| 34000|1995-08-18 00:00:00|        2302.0|                0.0|          0.0|           0.0|    2255.0|       9.0|      2723.0|         209.0|          253.0|         189.0|        24.0|                   0.0|
| 39000|1995-05-19 00:00:00|        9857.0|                0.0|          0.0|           0.0|     104.0|       4.0|       524.0|         140.0|           29.0|          24.0|         4.0|                   0.0|
| 27000|1995-04-20 00:00:00|       10584.0|                0.0|          0.0|           0.0|      14.0|       3.0|      4502.0|         781.0|          611.0|         365.0|        62.0|                   0.0|
| 35200|1995-06-09 00:00:00|        1237.0|                0.0|          0.0|           0.0|     121.0|      14.0|        56.0|         957.0|          470.0|         151.0|         6.0|                   0.0|
| 31000|1995-05-12 00:00:00|         495.0|                0.0|          0.0|           0.0|     217.0|     178.0|       675.0|         153.0|          159.0|         146.0|        37.0|                   0.0|
| 88000|1995-11-15 00:00:00|       54592.0|                1.0|          0.0|           1.0|   20734.0|      10.0|      1266.0|        1656.0|          124.0|         109.0|         3.0|                   0.0|
|143000|1995-06-30 00:00:00|        1815.0|                0.0|          0.0|           0.0|    1751.0|      67.0|      2542.0|           0.0|            0.0|           5.0|         0.0|                   0.0|
| 65000|1995-02-21 00:00:00|       13596.0|                2.0|          0.0|           1.0|    8657.0|      60.0|      2318.0|           0.0|            0.0|          55.0|         0.0|                   0.0|
| 87500|1995-01-20 00:00:00|        5829.0|                0.0|          1.0|           0.0|      25.0|      18.0|      3510.0|           0.0|            0.0|           5.0|         0.0|                   0.0|
| 15000|1995-07-05 00:00:00|        7547.0|                0.0|          0.0|           0.0|    1532.0|       4.0|      1904.0|           1.0|            1.0|           4.0|         7.0|                   0.0|
|157000|1995-12-15 00:00:00|       16241.0|                0.0|          0.0|           0.0|       8.0|       1.0|      5489.0|          22.0|           26.0|          12.0|         0.0|                   0.0|
|100500|1995-09-25 00:00:00|       16188.0|                0.0|          0.0|           0.0|   10381.0|       0.0|        88.0|          77.0|          107.0|          12.0|         0.0|                   0.0|
+------+-------------------+--------------+-------------------+-------------+--------------+----------+----------+------------+--------------+---------------+--------------+------------+----------------------+
only showing top 20 rows

"\nencode_values('postcode')\nencode_values('Property_Type')\n#encode_values('Old/New')\nhousing_df.show()\n"

In [14]:
#encode all columns with timestamp datatype
timestamp_type_columns = []
for col in housing_df.dtypes:
    #print(col[0]+" , "+col[1])
    if(col[1] == 'timestamp'):
        timestamp_type_columns.append(col[0])
print(timestamp_type_columns)

['Date_of_Transfer']

In [15]:
from pyspark.sql.functions import col, unix_timestamp
from pyspark.sql.functions import udf
from pyspark.sql.functions import *

#df_encoded.withColumn('Date_of_Transfer_encoded', unix_timestamp(col('Date_of_Transfer'), format='yyyy-MM-dd'))
#df_encoded = df_encoded.drop('Date_of_Transfer').withColumnRenamed('Date_of_Transfer' + "encoded", 'Date_of_Transfer')

extract_year = udf(lambda x: x[0:4])

df_encoded = df_encoded.withColumn('Date_of_Transfer', to_timestamp('Date_of_Transfer').cast('string'))
df_encoded = df_encoded.withColumn('Date_of_Transfer', extract_year('Date_of_Transfer').cast("integer"))
df_encoded.show(1)

+-----+----------------+--------------+-------------------+-------------+--------------+----------+----------+------------+--------------+---------------+--------------+------------+----------------------+
|price|Date_of_Transfer|postcode_index|Property_Type_index|Old/New_index|Duration_index|PAON_index|SAON_index|Street_index|Locality_index|Town/City_index|District_index|County_index|PPDCategory_Type_index|
+-----+----------------+--------------+-------------------+-------------+--------------+----------+----------+------------+--------------+---------------+--------------+------------+----------------------+
|36500|            1995|        8099.0|                0.0|          0.0|           0.0|     562.0|      92.0|      4503.0|          71.0|           98.0|         137.0|        58.0|                   0.0|
+-----+----------------+--------------+-------------------+-------------+--------------+----------+----------+------------+--------------+---------------+--------------+------------+----------------------+
only showing top 1 row

In [16]:
df_encoded.write.csv("housing_modified.csv", mode='overwrite')

In [17]:
#find correlation coefficient between all variables to identify variables to keep for linear regression
from pyspark.sql.functions import *

df_linreg = df_encoded.alias('df_linreg')
all_columns = []
for col in df_encoded.dtypes:
        all_columns.append(col[0])
#print(all_columns)
for col in all_columns:
    val = df_encoded.stat.corr(col, 'price')
    print("The correlation between price and " + col + " is:", val)
    #categortical variables don't show high correlation, as expected, therefore they cannot be used for linear regression
    if val < 0.1 and val > -0.1:
        df_linreg = df_linreg.drop(col)

print("\n Dataframe for linear regression: ")
df_linreg.show(1)

The correlation between price and price is: 1.0
The correlation between price and Date_of_Transfer is: 0.07736112392334328
The correlation between price and postcode_index is: -0.039206651590024545
The correlation between price and Property_Type_index is: 0.06068293401736996
The correlation between price and Old/New_index is: 0.08338657061086012
The correlation between price and Duration_index is: 0.02861651482256954
The correlation between price and PAON_index is: -0.06314254054536322
The correlation between price and SAON_index is: 0.07712298571838136
The correlation between price and Street_index is: -0.07103708032651991
The correlation between price and Locality_index is: -0.07625870363489233
The correlation between price and Town/City_index is: -0.17226351079019528
The correlation between price and District_index is: -0.24599619576467302
The correlation between price and County_index is: -0.2263188139085693
The correlation between price and PPDCategory_Type_index is: -0.002198735808304641

 Dataframe for linear regression:
+-----+---------------+--------------+------------+
|price|Town/City_index|District_index|County_index|
+-----+---------------+--------------+------------+
|36500|           98.0|         137.0|        58.0|
+-----+---------------+--------------+------------+
only showing top 1 row

In [18]:
#normalize all columns in the dataframe
from pyspark.ml.feature import MinMaxScaler
from pyspark.ml.feature import VectorAssembler
from pyspark.ml import Pipeline
from pyspark.sql.functions import udf
from pyspark.sql.types import DoubleType


unlist = udf(lambda x: float(list(x)[0]), DoubleType())

for col in df_linreg.dtypes:
  i = col[0]
  #print(i)
  assembler = VectorAssembler(inputCols=[i],outputCol=i+"_Vect")
  scaler = MinMaxScaler(inputCol=i+"_Vect", outputCol=i+"_Scaled")
  pipeline = Pipeline(stages=[assembler, scaler])
  df_linreg = pipeline.fit(df_linreg).transform(df_linreg).withColumn(i + '_Scaled2', unlist(i+"_Scaled")).drop(i+"_Vect", i + "_Scaled", i)

df_linreg.show(5)

+--------------------+-----------------------+----------------------+--------------------+
|       price_Scaled2|Town/City_index_Scaled2|District_index_Scaled2|County_index_Scaled2|
+--------------------+-----------------------+----------------------+--------------------+
|0.008000888987665296|    0.09210526315789473|   0.30309734513274333| 0.45669291338582674|
|0.016335148349816645|    0.11560150375939848|   0.07743362831858407|0.015748031496062992|
| 0.00277808645405045|    0.08740601503759399|   0.11504424778761062|0.023622047244094488|
|0.006545171685742861|   9.398496240601503E-4|  0.008849557522123894| 0.05511811023622047|
|0.005778419824424936|    0.02537593984962406|    0.3163716814159292| 0.22834645669291337|
+--------------------+-----------------------+----------------------+--------------------+
only showing top 5 rows

In [19]:
#apply linear regression to the filtered columns
from pyspark.ml.regression import LinearRegression
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.evaluation import RegressionEvaluator

#extract features as vector and create the model
assembler = VectorAssembler(inputCols=['Town/City_index_Scaled2', 'District_index_Scaled2', 'County_index_Scaled2'], outputCol="features")
reg_data = assembler.transform(df_linreg)
final_data = reg_data.select("features", "price_Scaled2")
final_data.show(5)
train_data, test_data = final_data.randomSplit([0.99, 0.01], 24)

train_data.show(5)
linear_reg = LinearRegression(featuresCol="features", labelCol="price_Scaled2", predictionCol="predicted_price")
lr_model = linear_reg.fit(train_data)

#training accuracy
train_pred = lr_model.transform(train_data)
#train_pred.show(5)
evaluator = RegressionEvaluator(labelCol="price_Scaled2", predictionCol="predicted_price", metricName="rmse")
rmse = evaluator.evaluate(train_pred)
print("Root Mean Squared Error (RMSE) on test data: {:.3f}".format(rmse))
evaluator_r2 = RegressionEvaluator(labelCol="price_Scaled2", predictionCol="predicted_price", metricName="r2")
r2 = evaluator_r2.evaluate(train_pred)
print("R-squared (R2) on train data: {:.3f}".format(r2))

#testing accuracy
test_pred = lr_model.transform(test_data)
#test_pred.show(5)
evaluator = RegressionEvaluator(labelCol="price_Scaled2", predictionCol="predicted_price", metricName="rmse")
rmse = evaluator.evaluate(test_pred)
print("Root Mean Squared Error (RMSE) on test data: {:.3f}".format(rmse))
evaluator_r2 = RegressionEvaluator(labelCol="price_Scaled2", predictionCol="predicted_price", metricName="r2")
r2 = evaluator_r2.evaluate(test_pred)
print("R-squared (R2) on test data: {:.3f}".format(r2))

+--------------------+--------------------+
|            features|       price_Scaled2|
+--------------------+--------------------+
|[0.09210526315789...|0.008000888987665296|
|[0.11560150375939...|0.016335148349816645|
|[0.08740601503759...| 0.00277808645405045|
|[9.39849624060150...|0.006545171685742861|
|[0.02537593984962...|0.005778419824424936|
+--------------------+--------------------+
only showing top 5 rows

+---------+--------------------+
| features|       price_Scaled2|
+---------+--------------------+
|(3,[],[])|0.007667518613179...|
|(3,[],[])|0.007667518613179...|
|(3,[],[])|0.007889765529503278|
|(3,[],[])| 0.00833425936215135|
|(3,[],[])|0.008445382820313369|
+---------+--------------------+
only showing top 5 rows

Root Mean Squared Error (RMSE) on test data: 0.018
R-squared (R2) on train data: 0.068
Root Mean Squared Error (RMSE) on test data: 0.018
R-squared (R2) on test data: 0.051

In [ ]:
#filtering columns to use in decision trees based on unique values
dt_cols = []
col_names = [col[0] for col in df_encoded.dtypes]

def count_cols(df_col, price_count):
    col_count = df_encoded.select(df_col).distinct().count()
    print("There are " + str(col_count) + " entries based on unique " + str(df_col) + " values")
    if col_count < price_count:
      dt_cols.append(df_col)

price_count = df_encoded.select('price').distinct().count()
for i in col_names:
    count_cols(i, price_count)

print(dt_cols)

There are 23532 entries based on unique price values
There are 116948 entries based on unique postcode_index values
There are 5 entries based on unique Property_Type_index values
There are 2 entries based on unique Old/New_index values
There are 3 entries based on unique Duration_index values
There are 62851 entries based on unique PAON_index values
There are 14575 entries based on unique SAON_index values
There are 37308 entries based on unique Street_index values
There are 9000 entries based on unique Locality_index values
There are 1109 entries based on unique Town/City_index values
There are 456 entries based on unique District_index values
There are 130 entries based on unique County_index values
There are 2 entries based on unique PPDCategory_Type_index values
['Property_Type_index', 'Old/New_index', 'Duration_index', 'SAON_index', 'Locality_index', 'Town/City_index', 'District_index', 'County_index', 'PPDCategory_Type_index']

In [ ]:

#create vector assembler
df_decisiontrees = df_encoded.alias('df_encoded')
assembler = VectorAssembler(inputCols = dt_cols, outputCol="features")
df_dt = assembler.transform(df_decisiontrees)
df_dt.show(10)

#split into train/test
train_data, test_data = dt_dt.randomSplit([0.75, 0.25], 15)
train_data.show(5)

#create decision tree classifier
data = df_dt.select("features", "price")
dt = DecisionTreeRegressor(maxBins = price_count).setLabelCol("price").setFeaturesCol("features")
dt_regressor = dt.fit(train_data)

#transform training data
train_pred = dt_regressor.transform(train_data)
train_pred.show(5)

#training set accuracy
dtevaluator = RegressionEvaluator(predictionCol="prediction", labelCol="price", metricName="rmse")
rmse = dtevaluator.evaluate(train_pred)
print("Root Mean Squared Error (RMSE) on train data: {:.3f}".format(rmse))
evaluator_r2 = RegressionEvaluator(labelCol="price", predictionCol="prediction", metricName="r2")
r2 = evaluator_r2.evaluate(train_pred)
print("R-squared (R2) on train data: {:.3f}".format(r2))



#transform testing data
test_pred = dt_regressor.transform(test_data)
test_pred.show(5)


#test set accuracy
dtevaluator = RegressionEvaluator(predictionCol="prediction", labelCol="price", metricName="rmse")
rmse = dtevaluator.evaluate(test_pred)
print("Root Mean Squared Error (RMSE) on test data: {:.3f}".format(rmse))
evaluator_r2 = RegressionEvaluator(labelCol="price", predictionCol="prediction", metricName="r2")
r2 = evaluator_r2.evaluate(test_pred)
print("R-squared (R2) on test data: {:.3f}".format(r2))

+------+--------------+-------------------+-------------+--------------+----------+----------+------------+--------------+---------------+--------------+------------+----------------------+--------------------+
| price|postcode_index|Property_Type_index|Old/New_index|Duration_index|PAON_index|SAON_index|Street_index|Locality_index|Town/City_index|District_index|County_index|PPDCategory_Type_index|            features|
+------+--------------+-------------------+-------------+--------------+----------+----------+------------+--------------+---------------+--------------+------------+----------------------+--------------------+
| 36500|       17045.0|                0.0|          0.0|           0.0|     350.0|      91.0|      7406.0|          67.0|           91.0|         126.0|        60.0|                   0.0|[0.0,0.0,0.0,91.0...|
| 74000|        3847.0|                0.0|          1.0|           0.0|    4189.0|      33.0|      2403.0|         139.0|          172.0|          55.0|         4.0|                   0.0|[0.0,1.0,0.0,33.0...|
| 13000|        5311.0|                0.0|          0.0|           0.0|     531.0|     439.0|      1787.0|          95.0|           67.0|          41.0|         2.0|                   0.0|[0.0,0.0,0.0,439....|
| 29950|         964.0|                0.0|          0.0|           0.0|    6441.0|       1.0|        20.0|           1.0|            2.0|           5.0|         9.0|                   0.0|[0.0,0.0,0.0,1.0,...|
| 26500|       13390.0|                0.0|          0.0|           0.0|   12124.0|       9.0|      4903.0|          28.0|           32.0|         321.0|        68.0|                   0.0|[0.0,0.0,0.0,9.0,...|
| 52000|       11189.0|                0.0|          1.0|           0.0|     499.0|      70.0|      3630.0|           0.0|            0.0|          18.0|         0.0|                   0.0|(9,[1,3,6],[1.0,7...|
|121250|        4828.0|                0.0|          0.0|           0.0|     210.0|      31.0|      3290.0|           0.0|            0.0|          12.0|         0.0|                   0.0|(9,[3,6],[31.0,12...|
|110995|         505.0|                0.0|          1.0|           0.0|       5.0|     145.0|      2472.0|           0.0|            0.0|           8.0|         0.0|                   0.0|(9,[1,3,6],[1.0,1...|
| 34000|        6419.0|                0.0|          0.0|           0.0|    4965.0|       9.0|      5141.0|         285.0|          331.0|         219.0|        19.0|                   0.0|[0.0,0.0,0.0,9.0,...|
| 39000|       10027.0|                0.0|          0.0|           0.0|      98.0|       4.0|       711.0|         168.0|           46.0|          30.0|         5.0|                   0.0|[0.0,0.0,0.0,4.0,...|
+------+--------------+-------------------+-------------+--------------+----------+----------+------------+--------------+---------------+--------------+------------+----------------------+--------------------+
only showing top 10 rows

+---------+-----+
| features|price|
+---------+-----+
|(3,[],[])|10000|
|(3,[],[])|34000|
|(3,[],[])|35000|
|(3,[],[])|35000|
|(3,[],[])|38000|
+---------+-----+
only showing top 5 rows

+---------+-----+-----------------+
| features|price|       prediction|
+---------+-----+-----------------+
|(3,[],[])|10000|316233.1768005465|
|(3,[],[])|34000|316233.1768005465|
|(3,[],[])|35000|316233.1768005465|
|(3,[],[])|35000|316233.1768005465|
|(3,[],[])|38000|316233.1768005465|
+---------+-----+-----------------+
only showing top 5 rows

Root Mean Squared Error (RMSE) on train data: 126970.897
R-squared (R2) on train data: 0.225
+---------+-----+-----------------+
| features|price|       prediction|
+---------+-----+-----------------+
|(3,[],[])|36000|316233.1768005465|
|(3,[],[])|38500|316233.1768005465|
|(3,[],[])|48000|316233.1768005465|
|(3,[],[])|50000|316233.1768005465|
|(3,[],[])|50150|316233.1768005465|
+---------+-----+-----------------+
only showing top 5 rows

Root Mean Squared Error (RMSE) on test data: 131672.929
R-squared (R2) on test data: 0.183